<%= render 'userinfo' %>

<table class="table">
  <tr>
    <%= render 'first_semester' %>
  </tr>
  <tr>
    <%= render 'second_semester' %>
  </tr>
  <tr>
    <%= render 'third_semester' %>
  </tr>
  <tr>
    <%= render 'forth_semester' %>
  </tr>
</table>